
@model ProductViewModel

<div class="artWrap">
    @Model.Title
    <br />
    <img src="~/images/@Model.Image" alt="product image" />
    <br />
    @Model.Description
    <br />
    @Model.Technique
    <br />
    @Model.Price
    <br />

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.Id)
        <button type="submit">Köp</button>
    }

</div>


